

.text43 {

  top: 124px;

  color: rgba(255, 255, 255, 1);

  height: auto;

  position: absolute;

  font-size: 15px;

  font-style: Medium;

  text-align: left;

  font-family: Inter;

  font-weight: 500;

  line-height: 21px;

  font-stretch: normal;

  text-decoration: none;

}

.text45 {

  top: 186px;

  color: rgba(255, 255, 255, 1);

  height: auto;

  position: absolute;

  font-size: 15px;

  font-style: Medium;

  text-align: left;

  font-family: Inter;

  font-weight: 500;

  line-height: 21px;

  font-stretch: normal;

  text-decoration: none;

}

.vector2 {

  top: -15px;

  left: 681px;

  width: 1177px;

  height: 965px;

  position: absolute;

}

.divhomeonehalf {

  top: 277px;

  left: 115px;

  width: 750px;

  height: 462.7799987792969px;

  display: flex;

  position: absolute;

  align-items: flex-start;

  flex-shrink: 0;

}

.rectangle11 {

  top: 208px;

  left: 32px;

  width: 231px;

  height: 77px;

  position: absolute;

  border-radius: 30px;

}

.heading1 {

  top: 90px;

  left: 20px;

  width: 710px;

  height: 100.77999877929688px;

  display: flex;

  position: absolute;

  align-items: flex-start;

  flex-shrink: 0;

}

.herpattarn5png {

  top: -99px;

  left: 1256px;

  width: 200px;

  height: 200px;

  opacity: 0.30;

  position: absolute;

}

.p {

  top: 220.77999877929688px;

  left: 20px;

  width: 710px;

  height: 64px;

  display: flex;

  position: absolute;

  align-items: flex-start;

  flex-shrink: 0;

}

.text47 {

  top: 11.220001220703125px;

  left: 35px;

  color: rgba(0, 0, 0, 1);

  height: auto;

  position: absolute;

  font-size: 24px;

  font-style: Black;

  text-align: center;

  font-family: Inter;

  font-weight: 900;

  line-height: 24px;

  font-stretch: normal;

  text-decoration: none;

}

.group573 {

  top: 80px;

  left: 20px;

  width: 806.4359741210938px;

  height: 97.38999938964844px;

  display: flex;

  position: absolute;

  align-items: flex-start;

  flex-shrink: 1;

}

.text49 {

  color: rgba(22, 28, 45, 1);

  width: 806px;

  height: auto;

  position: absolute;

  font-size: 42px;

  font-style: Bold;

  text-align: left;

  font-family: Inter;

  font-weight: 700;

  line-height: 50.400001525878906px;

  font-stretch: normal;

  text-decoration: none;

}

.text50 {

  color: rgba(22, 28, 45, 1);

}

.text51 {

  color: rgba(159, 31, 20, 0.8899999856948853);

}

.text55 {

  color: rgba(22, 28, 45, 1);

}

.text57 {

  top: 121px;

  left: 732px;

  color: rgba(255, 255, 255, 1);

  width: 802px;

  height: auto;

  position: absolute;

  font-size: 64px;

  font-style: Bold;

  text-align: center;

  font-family: Judson;

  font-weight: 700;

  line-height: normal;

  font-stretch: normal;

  text-decoration: none;

}

.nav {

  top: 0px;

  left: 156px;

  width: 1210px;

  height: 78.5px;

  display: flex;

  position: absolute;

  align-items: flex-start;

  flex-shrink: 0;

}

.link-logo-bluesvg1 {

  top: 17.75px;

  left: 0px;

  width: 180px;

  height: 42px;

  position: absolute;

}

.divmobilemenu {

  top: 10px;

  left: 180px;

  width: 1000px;

  height: 58.5px;

  display: flex;

  position: absolute;

  flex-grow: 1;

  align-items: flex-start;

  flex-shrink: 0;

}

.list {

  top: 0px;

  left: 218px;

  width: 522px;

  height: 58.5px;

  display: flex;

  position: absolute;

  align-items: flex-start;

  flex-shrink: 0;

}

.text62 {

  top: 17px;

  left: 18px;

  color: rgba(255, 255, 255, 1);

  height: auto;

  position: absolute;

  font-size: 15px;

  font-style: Bold;

  text-align: left;

  font-family: Inter;

  font-weight: 700;

  line-height: 22.5px;

  font-stretch: normal;

  text-decoration: none;

}

.item-link {

  top: 0px;

  left: 77.68000030517578px;

  width: 105px;

  height: 58.5px;

  display: flex;

  position: absolute;

  align-items: flex-start;

  flex-shrink: 0;

}

.text64 {

  top: 19.5px;

  left: 93.81999969482422px;

color: rgba(255, 255, 255, 1);

  height: auto;

  position: absolute;

  font-size: 13px;

  font-style: Solid;

  text-align: left;

  font-family: Font Awesome 5 Free;

  font-weight: 400;

  line-height: 19.5px;

  font-stretch: normal;

  text-decoration: none;

}

.text65 {

  top: 17px;

  left: 18px;

  color: rgba(255, 255, 255, 1);

  height: auto;

  position: absolute;

  font-size: 15px;

  font-style: Bold;

  text-align: left;

  font-family: Inter;

  font-weight: 700;

  line-height: 22.5px;

  font-stretch: normal;

  text-decoration: none;

}

.item-link1 {

  top: 0px;

  left: 182.8699951171875px;

  width: 104px;

  height: 58.5px;

  display: flex;

  position: absolute;

  align-items: flex-start;

  flex-shrink: 0;

}

.text67 {

  top: 19.5px;

  left: 92.94999694824219px;

  color: rgba(255, 255, 255, 1);

  height: auto;

  position: absolute;

  font-size: 13px;

  font-style: Solid;

  text-align: left;

  font-family: Font Awesome 5 Free;

  font-weight: 400;

  line-height: 19.5px;

  font-stretch: normal;

  text-decoration: none;

}

.item-link2 {

  top: 0px;

  left: 287.20001220703125px;

  width: 122px;

  height: 58.5px;

  display: flex;

  position: absolute;

  align-items: flex-start;

  flex-shrink: 0;

}

.image2 {

  top: 0px;

  left: 15px;

  width: 554px;

  height: 167px;

  position: absolute;

}

.image3 {

  top: 1182px;

  left: -80px;

  width: 1664px;

  height: 477px;

  position: absolute;

}